:root {
    --text-white: rgb(248, 233, 255);
    --text-black-alt: rgb(28, 25, 29);
    --background-black: black;
    --background-blue: rgb(59, 59, 99);
    --background-blue-dark: rgb(9, 9, 66);
    --background-gold: rgba(255, 215, 0, 0.95);
}


* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--text-white);
}

a {
    color: var(--text-black-alt);
    position: relative;
    text-decoration: none;
  }
  
a:not(.project-tile *)::before, p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-black-alt);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:not(.project-tile *):hover::before, p:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul {
    list-style: none;
}

.gold-text {
    font-family: Baskerville; 
    font-size: 10rem; 
    font-weight: 500; 
    color: #c3a343; 
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), 
                url(./img/pexels-fwstudio-122458.jpg) repeat; 
    background: -o-linear-gradient(transparent, transparent); 
    -webkit-background-clip: text; 
    background-size: 500px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background-gold);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.nav-list {
    display: flex;
    margin-right: 5rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    padding: 0 0.25rem;
    margin: 2rem 3rem;
    color: var(--background-black);
}

.projects {
    background-color: var(--text-black-alt);
    text-align: center;
    padding: 10rem 5rem;
}

h2 {
    color: var(--background-gold);
    padding: 5rem;
    font-size: 4rem;
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.project-tile > a > img {
    height: calc(100% - 6rem);
    width: 100%;
    object-fit: cover;
    filter: sepia(100%);
    border-radius: 25px;
}


.project-tile > a > img:hover {
    filter: sepia(25%);
}

.project-tile > a > img:hover + p {
    transform: scale(1.25);
    transition: transform .5s ease-in-out;
    padding: 1.5rem;
    text-shadow: var(--text-white) 1px 0 5px;
}

.project-tile > a > p {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--background-gold);   
    padding: 1.5rem;
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-black);
}

.welcome-section > p {
    font-size: 5rem;
    font-weight: 400;
    font-style: italic;
    color: var(--text-black-alt);
    background-color: var(--background-gold);
    padding-left: 2.5rem;
    padding-right: 3.10rem;
    /* text-shadow: var(--background-gold) 1px 0 5px; */
}




